<% layout('../layout') -%>

<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { 
  	height: 740px;
  	width: 100%;
  }
</style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWOlwKkkrv_9ZfMcySRcsNQeKGACHpEA4&sensor=true&libraries=visualization">
</script>
<script type="text/javascript">
  function initialize() {
  
    var latLng = new google.maps.LatLng(<%= userEvent.latitude  %>, <%= userEvent.longitude  %>); 
    var geocoder = new google.maps.Geocoder();
     
    var mapOptions = {
      center: latLng,
      zoom: 9
    };
    
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
        
     geocoder.geocode( { 'latLng': latLng}, function(results) {
            var infoWindow = new google.maps.InfoWindow();
            if(results[1]) {
                var markerPointer = new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map,
                    animation: google.maps.Animation.Drop,
                });
                
             var content = '<div id="infoWindow">' +
                '<h2><%= userEvent.title %> </h2>' + 
                '<p><%= userEvent.title %> </p>' +
                 '<p><%= userEvent.note %> </p>' +
                '<div class="pull-right"><a href="#" id= "cancel_button" class="btn" onclick = "infoWindow.close()">CLOSE' +
                '</a></div>';
                
               map.setCenter(latLng);
            
                infoWindow.setContent(content);
                infoWindow.open(map,markerPointer);
                infoWindow.close;
            }
        });
    
         
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script type="text/javascript">
    $('.tools-wrapper').addClass('hide');
</script>


<div id="map-canvas"/>
